/* LAYOUT *************************************************************************************************************/

html{
    color: #333;
}


body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://elchapuzasinformatico.com/wp-content/uploads/2022/01/220117-1080p-gd24.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header a img{
    width: 10rem;
    padding: 1rem 0;
    float: left;
    margin-left: 430px;
}
header img{
    padding-left: 9rem;
    padding-top: 3rem;
}

.activo{
    background-color: rgba(31,110,163,.8);
}

nav{
    background-color: #19232d;
    max-width: 1170px;
    margin: 0 auto;
    text-transform: uppercase;
}

nav li:hover{
    background-color: rgba(31,110,163,.8);
}

main {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1170px;
    padding: 0 2rem;
    margin: 0 auto;
    background-color: white;
}

footer{
    background-color: #111;
    color: white;
    padding: 1rem 0;
    margin: auto 24.44rem;
    margin-bottom: 1rem;
}

footer a {
    color: white;
}
footer a:hover{
    text-decoration: underline;
}

/* SECTION ************************************************************************************************************/



.slider-componentes{
    padding-top: 1rem;
}

.reviews{
    overflow: hidden;
    position: relative;
}


    /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 7px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /* user-select: auto; */

}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #2580bd;
}
.elemento img{
    width: 798px;
    height: 16rem;
}



.slider-componentes section, #tabs-swipe-demo{
    float: left;
    width: 70%;
    position: relative;
    height: 260px;
}

#tabs-swipe-demo{
    width: 30%;
    background-color: #111;
}

.datos{
    margin-bottom: 0.5rem;
}


a{
    color: white;
}

.row{
    margin-top: 1rem;
    float: left;
    position: relative;
    width: 69%;
}
aside{
    float: right;
    position: relative;
    width: 30%;
    padding-bottom: 1rem;
}

article h4{
    font-size: 1.5rem;
}

article .card-info{
    position: relative;
    bottom: 3rem;
    left: 1.5rem;
    text-transform: uppercase;
    font-size: 13px;
}

.row .s12{
    padding: 0px;
}

.card .card-action {
    padding: 16px 0;

    text-align: justify;
}
.card .card-content{
    padding: 10px 17px;
}
.card .card-info{
    position: relative;
    bottom: 2rem;
    left: 1rem;
}
.tabs li{
    border-top: 1px solid #434343;
    border-bottom: 1px solid #434343;
    font-size: 11px;
    padding-left: 10px;
    width: 150%;
}

h1, h2, h3, h4, h5{
    font-family: 'Oswald', sans-serif;
}

.container-fluid h1{
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    margin-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
}
h1{
    text-transform: uppercase;
}

.row h1{
    border-bottom: none;
}
.row h3 {
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 12px;
}

h2{
    margin: 0.5rem 0;
    font-size: 20px;
}

h3{
    font-size: 15px;
    margin: 0.5rem 0;
}


.input-field{
    margin-top: 2rem;
    padding-bottom: 2em;

}

.car

.card.horizontal.small .card-image img{
    margin-top: 20%;
}


/* FORO */

.collection{
    margin-top: 1rem;
}

.collection a {
    color: black;
}
.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle {
    width: 50px;
    height: 50px;
}
.collection .collection-item.avatar {
    min-height: 77px;
}
.collection .datos{
    font-size: 13px;
    padding-top: 5px;
}
.collection .collection-item.avatar .secondary-content {
    top: 26px;
}
.secondary-content .material-icons{
    float: left;
    padding-right: 10px;
}

/* Hilo */

.cajita{
    margin-top: 10px;
    margin-bottom: 10px;
}


.hilo img{
    width: 75%;
    padding-top: 10px;
}

.hilo .material-icons{
    float: left;
}
.hilo .fecha,.likes{
    padding-top: 10px;
    padding-left: 25px;
}

.hilo span{
    padding-right: 10px;
}
.likes span{
    padding-right: 56px;
}

.hilo aside{
    float: left;
    width: 15%;
    border: 1px solid #d8d8d8;
    background-color: #f5f5f5;
    text-align: center;
}
.hilo article{
    width: 100%;
    border: 1px solid #d8d8d8;
    background-color: #ececec;
    margin-bottom: 20px;
    height: 245px;
}

 article h1{
    font-size: 30px;
}
